# Ignore the build and lib dirs
build
lib/*
!lib/.gitkeep

# Ignore any executables
bin/*
!bin/.gitkeep

# Ignore Mac specific files
.DS_Store

# Ignore the VSCode files
.vscode

# Ignore the testing tmp files
test/data/tmp/*
!test/data/tmp/.gitkeep